body {
    font-family: 'Kanit', sans-serif;
    color: $textWhite;
    line-height: 1.5;
    font-size: 1.25rem;
}

img {
    max-width: 100%;
    height: auto;
}

.visibility_hidden {
    visibility: hidden;
}

.border_right_none {
    border-right: none !important;
}

.opacity_zero {
    opacity: 0 !important;
}

.orange {
    color: $orange !important;
}