// reset
// *,
// :before,
// :after {
//     box-sizing: border-box;
//     padding: 0;
//     margin: 0;
// }

// styles
.hide {
    display: none;
}

// Animation class

.shut_down {
    animation: shutDown 1.8s ease;
    // animation: shutDown 1.5s ease;
    // pageTransitionAnimation should be modified if the animation duration is changed.
}

.set_up {
    animation: setUp .4s ease;
}

.set_off {
    animation: setOff .75s ease;
}

@keyframes shutDown {
    10% {transform: scale(1, 0.002);}
    50% {transform: scale(0.2, 0.002);
        opacity: 1;}
    90% {transform: scale(0.2, 0.002);
        opacity: 0;}
    100% {transform: scale(0.2, 0.002);
        opacity: 0;}
}

@keyframes turnOn {
    10% {transform: scale(0.2, 0.002);
        opacity: 0;}
    50% {transform: scale(0.2, 0.002);
        opacity: 1;}
    100% {transform: scale(1, 0.002);}
}

@keyframes setUp {
  0% { transform: translateY(30px); opacity: 0 }
  100% { transform: translateY(0px); opacity: 1 }
}

@keyframes setOff {
  0% { transform: translateY(0px); opacity: 1 }
  100% { transform: translateY(30px); opacity: 0 }
}

.slide_out_left {
    animation: slideOutLeft .75s ease;
    // animation: slideOutLeft .45s ease;
}

@keyframes slideOutLeft {
  0% { transform: translateX(0);}
  100% { transform: translateX(-120%);}
}

// .slide_in_left {
//     animation: slideInLeft .45s ease;
// }

// @keyframes slideInLeft {
//   0% { transform: translateX(-120%);}
//   100% { transform: translateX(0%);}
// }

.slide_out_right {
    animation: slideOutRight .75s ease;
    // animation: slideOutRight .45s ease;
}

@keyframes slideOutRight {
  0% { transform: translateX(0);}
  100% { transform: translateX(120%);}
}

// .slide_in_right {
//     animation: slideOutRight .45s ease;
// }

// @keyframes slideInRight {
//   0% { transform: translateX(120%);}
//   100% { transform: translateX(0);}
// }

.slide_in_from_top {
    animation: slideInFromTop .5s ease;
}

@keyframes slideInFromTop {
  0% { transform: translateY(-100%);}
  100% { transform: translateY(0%);}
}

.slide_up_to_top {
    animation: slideUpToTop 1s ease;
}

@keyframes slideUpToTop {
  0% { transform: translateY(0%);}
  50% { transform: translateY(-100%);}
  100% { transform: translateY(-100%);}
}

.fade_in {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.fade_out {
    animation: fadeOut 1s ease;
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.height_to_auto {
    animation: heightToAuto .45s ease;
}

@keyframes heightToAuto {
  0% { height: 0; }
  100% { height: auto; }
}

