#contact_body {
    // background-image: url('../../sources/image/portrait_line_white_0025px.png');
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: auto 160%;
    // background-position: 100px 50%;
    // background-position: right;
    position: relative;
}

#contact_body::after {
    content: "";
    background-image: url('../../sources/image/portrait_line_white_0025px.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 160%;
    // background-position: 100px 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: right;
    // animation: backgroundImageFadeIn 2s ease;
    z-index: -1;
}

#contact_main {
    // height: 100vh;
    padding: 2.2rem 2rem 0;
    margin: 0 auto;
    max-width: 1000px;

    @media screen and (min-width: 479px) {
        height: 100vh;
    }

    h2 {
        letter-spacing: .1rem;
        font-size: 2rem;
    }
}

#contact_main_title {
    font-size: 3rem;
    text-shadow: 0 0 3px $green;
    // border-right: .3rem solid orange; /* The typwriter cursor */
    padding-right: .5rem;
    animation: blink-caret 1s step-start infinite;
    display: inline-block;
    letter-spacing: .25rem;
    margin-bottom: 0;
    // margin-bottom: 3rem;
}

#form_div {
    max-width: 600px;
    margin: 3rem auto 3rem;
}

#contact_form{
    display: grid;
}

#contact_form label{
    display: grid;
    grid-template-columns: 140px 1fr;
    margin-bottom: 2rem;
    align-items: center;
}

#contact_form label span{
    font-family: $font_digit;
    // color: $green;
    text-shadow: 0 0 3px $orange;
    letter-spacing: .1rem;
    color: $orange;
    // color: $textWhite;
}

#contact_form label input{
    background-color: $backgroundColorBlack;
    border: none;
    border-bottom: $orange solid 1px;
    // border-bottom: $orange solid 1px;
    color: $textWhite;
    padding: .5rem;
    font-size: 18px;
    &:focus {
        outline: 1px solid $orange !important;

        -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, 1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, 1);
        box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, 1);

        }
}

#contact_form label textarea{
    background-color: $backgroundColorBlack;
    border: none;
    border: $orange solid 1px;
    color: $textWhite;
    padding: .5rem;
    font-size: 18px;
    height: 100px;
    &:focus {
        outline: 1px solid $orange !important;

        -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, 1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, 1);
        box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, 1);
    }
}

#contact_form button {
    font-family: $font_digit;
    letter-spacing: .1rem;
    color: $backgroundColorBlack;
    border: $orange 1px solid;
    padding: .5rem;
    background-color: $orange;
    cursor: pointer;
    transition: .5s ease;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(255, 165, 0, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255, 165, 0, 1);
    box-shadow: 0px 0px 3px 0px rgba(255, 165, 0, 1);

    &:hover {
        background-color: transparent;
        color: $orange;
        text-shadow: 0 0 5px $orange;
        box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, 1);
    }
}

// #contact_form label:nth-of-type(1) input{
//     background-color: $backgroundColorBlack;
//     border: none;
//     border-bottom: $orange solid 1px;
//     color: $textWhite;
//     &:focus {
//         outline: none !important;
//         border:1px solid $orange;

//         -webkit-box-shadow: 0px 0px 3px 0px rgba(255, 165, 0, 1);
//         -moz-box-shadow: 0px 0px 3px 0px rgba(255, 165, 0, 1);
//         box-shadow: 0px 0px 3px 0px rgba(255, 165, 0, 1);

//         }
// }

#about_div {
    padding: 1rem;
    position: relative;
    transition: 1s ease;

    border: $green solid 2px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);
    box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);

    h2 {
        position: absolute;
        top: -3.25rem;
        background-color: #101010;
        padding: 0 .5rem;
    }

    p:first-of-type {
        margin-bottom: 0;
    }

    p:last-of-type {
        margin-top: 0;
    }

    // .orange {
    //     color: $orange;
    // }
}

// animation ******************************************************

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes backgroundImageSlideIn {
  0% { transform: translateX(50%); opacity: 0 }
  100% { transform: translateX(0%); opacity: １ }
}
@keyframes backgroundImageFadeIn {
  0% { opacity: 0 }
  100% { opacity: １ }
}

// Mobile layput

@media screen and (max-width: 479px) {
    #contact_main {
       #contact_form label{
           display: unset;

           span {
               display: block;
               margin-bottom: .5rem;
           }

           input {
               width: 96%;
           }

           textarea {
               width: 96%;
           }
       }
    }
}

