#each_work_body {
    position: relative;

    h1  {
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 0;
        grid-column: span 2;
    }
}

#each_work_body::after {
    content: "";
    background-image: url('./sources/image/portrait_line_white_0025px.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 160%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: right;
    z-index: -1;

    @media screen and (max-width: 575px) {
        display: none;
    }
}

#each_work_main {
    padding: 2.2rem 2rem 0;
    margin: 0 auto;
    max-width: 1000px;

    h2 {
        letter-spacing: .1rem;
        font-size: 2rem;
    }

    .back_and_go_div {
        grid-column: span 2;
    }
}

#each_work_main_title {
    font-size: 3rem;
    text-shadow: 0 0 3px $green;
    padding-right: .5rem;
    animation: blink-caret 1s step-start infinite;
    display: inline-block;
    letter-spacing: .25rem;
    margin-bottom: 3rem;

    grid-column: span 2;
}

#each_work_contents {
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-column-gap: 2rem;
}

#visual_div {
    position: relative;
    // transition: 1s ease;

    h2 {
        position: absolute;
        top: -3.25rem;
        background-color: #101010;
        padding: 0 .5rem;
    }

    p {
        margin: 0 0 .5rem;
        color: $orange;
    }

    img {
        border: .25px solid $textWhite;
    }
}

.video-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

.each_work_description {
    font-size: 1.25rem;

    p {
        margin: 0;
    }

    ul {
        margin: 0;
    }

    li {
        display: inline-block;

        &::after {
            content: " / ";
        }

        &:last-of-type::after {
            content: "";
        }
    }
}

.about_this_work {
    margin-top: 1rem !important;
    color: $orange;
}

.work_links {
    margin-top: 1rem;
    font-family: $font_digit;
    letter-spacing: .1rem;
    color: $green;
}

.work_links p {
    margin-top: .25rem;
}

.work_links a:hover {
    color: $orange;
    text-shadow: 0 0 3px $orange;
}

// animation ******************************************************

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes backgroundImageSlideIn {
  0% { transform: translateX(50%); opacity: 0 }
  100% { transform: translateX(0%); opacity: １ }
}
@keyframes backgroundImageFadeIn {
  0% { opacity: 0 }
  100% { opacity: １ }
}

@media screen and (max-width: 991px) {
    #each_work_main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #each_work_contents {
        display: block;
    }

    #visual_div {
        margin-bottom: 1.25rem;
    }

}



@media screen and (max-width: 479px) {
    #each_work_main {
        h1 {
            font-size: 2.5rem;
        }

        #visual_div {
            padding: 0;
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            h2 {
                font-size: 1.5rem;
                position: absolute;
                top: -3.75rem;
                background-color: transparent;
                padding: 0rem;
            }
        }

        .video-container {
            width: 100vw;
            padding-top: 56.25% !important;
            left: 50%;
            transform: translateX(-50%);
          }
        
    }
}