#skills_body {
    position: relative;
}

#skills_body::after {
    content: "";
    background-image: url('./sources/image/portrait_line_white_0025px.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 160%;
    // background-position: 100px 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: right;
    // animation: backgroundImageFadeIn 2s ease;
    z-index: -1;
}

#skills_main {
    // height: 100vh;
    padding: 2.2rem 2rem 0;
    margin: 0 auto;
    max-width: 1000px;

    // h2 {
    //     letter-spacing: .1rem;
    //     font-size: 2rem;
    // }
}

#skills_main_title {
    font-size: 3rem;
    text-shadow: 0 0 3px $green;
    // border-right: .3rem solid orange; /* The typwriter cursor */
    padding-right: .5rem;
    animation: blink-caret 1s step-start infinite;
    display: inline-block;
    letter-spacing: .25rem;
    margin-bottom: 1rem;
}

#skills-nav {
    font-family: $font_digit;
    color: $green;
    letter-spacing: .15rem;
    margin-top: 0;
    padding: 1rem;
    margin-bottom: 3rem;

    // border: $green solid 2px;
    // -webkit-box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);
    // -moz-box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);
    // box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);

    li {
        display: inline-block;
        cursor: pointer;

        &:nth-of-type(1),
        &:nth-of-type(2) {
            margin-right: 2rem;
        }

        span {
            font-size: 1.5rem;
        }
    }

    li:hover {
        color: $orange;
        text-shadow: 0 0 3px $orange;

        span {
             text-shadow: 0 0 3px $orange;
        }
    }
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing_2 ($effectTime / 2) steps(30, end),
    blink-caret 1s step-start infinite;
}

#hard_skills_div,
#tools_div,
#soft_skills_div {
    padding: 1rem;
    position: relative;
    margin-bottom: 3rem;
    transition: 1s;

    border: $green solid 2px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);
    box-shadow: 0px 0px 3px 0px rgba(0,255,0,1);

    h2 {
        position: absolute;
        top: -2.5rem;
        background-color: #101010;
        padding: 0 .25rem 0 .5rem;
        font-size: 1.5rem;
        color: $orange;
        text-shadow: 0 0 3px $orange;
    }
}

#hard_skills_div h2 {
    // CSS for Typing Effect
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    @media screen and (min-width: 576px) {
        color: $green;
        text-shadow: 0 0 3px $green;
        top: -3.25rem;
        font-size: 2rem;
        border-right: .15em solid orange; /* The typwriter cursor */
        animation: 
            typing_hard_skills 1.25s steps(30, end),
            blink-caret 1s step-start infinite;
    }
}

#tools_div h2 {
    // CSS for Typing Effect
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    @media screen and (min-width: 576px) {
        color: $green;
        text-shadow: 0 0 3px $green;
        top: -3.25rem;
        font-size: 2rem;
        border-right: .15em solid orange; /* The typwriter cursor */
        animation: 
            typing_tools .75s steps(30, end),
            blink-caret 1s step-start infinite;
    }
}

#soft_skills_div h2 {
    // CSS for Typing Effect
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    @media screen and (min-width: 576px) {
        color: $green;
        text-shadow: 0 0 3px $green;
        top: -3.25rem;
        font-size: 2rem;
        border-right: .15em solid orange; /* The typwriter cursor */
        animation: 
            typing_soft_skills 1.25s steps(30, end),
            blink-caret 1s step-start infinite;
    }
}

#soft_skills_div div p {
    margin: 2rem;
}

/* The typing effect */
@keyframes typing_hard_skills {
  from { width: 0 }
  to { width: 217px }
}

@keyframes typing_tools {
  from { width: 0 }
  to { width: 115px }
}

@keyframes typing_soft_skills {
  from { width: 0 }
  to { width: 213px }
}



.skills_open_close {
    font-family: $font_digit;
    color: $green;
    text-align: center;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        text-shadow: 0 0 3px $green;
    }
}

#tools_logo,
#hard_skills_logo {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // transition: 1s;

    figure {
        display: grid;
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        // padding: 1rem;
        // border-radius: 7px;

        // background-color: #303030;
        // background-color: $backgroundColorBlack;
        // background-color: #181818;
    }

    img {
        max-height: 100px;
        align-self: center;
        // background-color: $textWhite;
        padding: .5rem;
    }

    figcaption {
        align-self: flex-end;
    }


    // Large devices (desktops, 992px and up)
    @media screen and (max-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    // Medium devices (tablets, 768px and up)
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    // Small devices (landscape phones, 576px and up)
    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr 1fr;

        figure {
            margin: 0;
        }
        
        img {
            display: none;
        }
        
        // #hard_skills_div h2,
        // #tools_div h2,
        // #soft_skills_div h2 {
        //     animation-name: none;
        //     animation-duration: 0s;
        //     animation-timing-function: ease;
        //     animation-delay: 0s;
        //     animation-iteration-count: 1;
        //     animation-direction: normal;
        //     animation-fill-mode: none;
        //     animation-play-state: running;
        // }

    }

    // Extra large devices (large desktops, 1200px and up)
    // @media screen and (max-width: 1200px) { ... }
}

#hard_skills_logo {
    figure:nth-child(5) img,
    figure:nth-child(7) img,
    figure:nth-child(9) img,
    figure:nth-child(10) img {
            background-color: $textWhite;
        }
}

// animation ******************************************************

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes backgroundImageSlideIn {
  0% { transform: translateX(50%); opacity: 0 }
  100% { transform: translateX(0%); opacity: １ }
}
@keyframes backgroundImageFadeIn {
  0% { opacity: 0 }
  100% { opacity: １ }
}

// Mobile layput

@media screen and (max-width: 575px) {
    #skills_main {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 0;
            // padding-left: 1rem;
        }

        #skills-nav {
            padding-top: .5rem;
            padding-left: 0;
            font-size: 1.15rem;
        }


        #hard_skills_div,
        #soft_skills_div,
        #tools_div {
            padding: 0;
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            h2 {
                font-size: 1.5rem;
                position: absolute;
                top: -3.75rem;
                background-color: transparent;
                padding: 0rem;
            }

            figure {
                justify-self: left;
                align-self: flex-start;
            }

            figcaption {
                font-size: 1.25rem;
            }
        }
    }
}

