<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:image" content="https://tomo-portfolio.s3-us-west-2.amazonaws.com/portfolio_social_media_image.png"/>
    <meta property="og:url" content="https://tomohiroyoshida.com">
    <meta property="og:title" content="TOMO'S Portfolio"/>
    <meta property="og:description" content="This is Tomohiro's portfolio site to showcase web development skills."/>
    <meta name="twitter:card" content="summary_large_image">
    <!--<meta property="og:image:width" content="1200"/>-->
    <!--<meta property="og:image:height" content="630"/>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="./sources/portfolio.png">
    <title>TOMO's Portfolio</title>

    <!--<title>{{htmlWebpackPlugin.options.title}}</title>-->
    <!--<meta name="description" content="{{htmlWebpackPlugin.options.description}}">-->

    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>

<div id="global_nav_div" class="display_none">
    <ul id="global_nav">
        <li class="opacity_zero">Welcome</li>
        <li class="opacity_zero">Profile</li>
        <li class="opacity_zero">Skills</li>
        <li class="opacity_zero">Works</li>
        <li class="opacity_zero">Contact</li>
    </ul>
</div>

<body id="skills_body">
    <header>
        <div id="hamburger_wrap">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <main id="skills_main" class="set_up">
        <h1 id="skills_main_title">Tomo's Skills</span></h1>

        <ul id="skills-nav">
            <!-- <li id="skills-nav-hard"><span class="orange">&gt; </span>Hard Skills</li> -->
            <li id="skills-nav-hard" class="orange"><span class="orange">&gt; </span>Hard Skills</li>
            <li id="skills-nav-tools"><span class="orange visibility_hidden">&gt; </span>Tools</li>
            <!-- <li id="skills-nav-soft"><span class="orange visibility_hidden">&gt; </span>Soft Skills</li> -->
        </ul>

        <div id="hard_skills_div">
            <h2>Hard Skills</h2>
            <div id="hard_skills_logo" class="fade_in">
                <figure>
                    <img src="./sources/image/tech-logo/html.png" alt="html logo">
                    <figcaption>HTML</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/css.png" alt="css logo">
                    <figcaption>CSS</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/js.png" alt="JS logo">
                    <figcaption>JavaScript</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/react.png" alt="React logo">
                    <figcaption>React</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/react-native-logo.png" alt="React Native logo">
                    <figcaption>React Native</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/Nextjs-logo.svg" alt="nextjs logo">
                    <figcaption>Next</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/JQuery-Logo.svg.png" alt="jQuery logo" class="skills_background_white">
                    <figcaption>jQuery</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/128px-Sass_Logo_Color.png" alt="sass logo">
                    <figcaption>SASS</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/nodejs-logo.png" alt="Node.js logo">
                    <figcaption>Node.js</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/256px-Amazon_Web_Services_Logo.png" alt="AWS logo" class="skills_background_white">
                    <figcaption>AWS</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/Expressjs.png" alt="express logo" class="skills_background_white">
                    <figcaption>express</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/ts-logo-256.png" alt="TypeScript logo">
                    <figcaption>TypeScript</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/GraphQL_Logo.png" alt="GraphQL logo">
                    <figcaption>GraphQL</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/Moby-logo.png" alt="docker logo">
                    <figcaption>Docker</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/logo-mysql-170x115.png" alt="MySQL logo" class="skills_background_white">
                    <figcaption>MySQL</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/firebase.png" alt="firebase logo">
                    <figcaption>firebase</figcaption>
                </figure>
                <!-- <figure>
                    <img src="./sources/image/tech-logo/webpack-logo.png" alt="Webpack logo">
                    <figcaption>Webpack</figcaption>
                </figure> -->
                <figure>
                    <img src="./sources/image/tech-logo/contentful.png" alt="Contentful logo">
                    <figcaption>Contentful</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/jest.svg" alt="Jest logo">
                    <figcaption>Jest</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/testing-library.png" alt="testing library logo">
                    <figcaption>testing library</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/256px-Figma-logo.png" alt="Figma logo">
                    <figcaption>Figma</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/128px-WordPress_W_Mark.png" alt="WP logo" class="skills_background_white">
                    <figcaption>WordPress</figcaption>
                </figure>
                <!-- <figure>
                    <img src="./sources/image/tech-logo/256px-Adobe_Illustrator_CC_icon.png"
                        alt="Adobe Illustrator logo">
                    <figcaption>Illustrator</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/256px-Adobe_Photoshop_CC_icon.png" alt="Adobe Photoshop logo">
                    <figcaption>Photoshop</figcaption>
                </figure> -->
            </div>
        </div>
        <div id="tools_div" class="display_none">
            <h2>Tools</h2>
            <div id="tools_logo" class="fade_in">
                <figure>
                    <img src="./sources/image/tech-logo/GitHub-Mark-Light-120px-plus.png" alt="GitHub logo">
                    <figcaption>GitHub</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/Slack_Mark_Web.png" alt="Slack logo">
                    <figcaption>Slack</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/jira.svg" alt="jira logo">
                    <figcaption>Jira</figcaption>
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/trello-mark-blue.png" alt="Trello logo">
                    <figcaption>Trello</figcaption>
                </figure>
                <!-- <figure>
                    <img src="./sources/image/tech-logo/zoom-icon-seeklogo.com-4.png" alt="office logo">
                    <figcaption>Zoom</figcaption>
                </figure> -->
                <!-- <figure>
                    <img src="./sources/image/tech-logo/Google-Drive-Icon512.png" alt="office logo">
                    <figcaption>Google Drive</figcaption> -->
                </figure>
                <figure>
                    <img src="./sources/image/tech-logo/ms_office.png" alt="office logo">
                    <figcaption>MS Office</figcaption>
                </figure>
            </div id="hard_skills_logo" class="fade_in">
        </div>
        <!--
        <div id="soft_skills_div" class="display_none">
            <h2>Soft Skills</h2>
            <div id="" class="fade_in">
                <p>Comming Soon!!!</p>
            </div>
        </div>
-->
        <div class="back_and_go_div">
            <p id="go_to_profile" class="back_page">&lt; Back To Profile Page</p>
            <p id="go_to_works" class="go_page">Go To Works Page &gt;</p>
        </div>
    </main>

    <footer id="pageFooter">
        <div id="nameAndCopyDiv">
            <p id="footerCopyright">
                &copy; 2021 Tomohiro Yoshida. All Rights Reserved
            </p>
        </div>

        <ul id="contactList">
            <li id="linkedinItem">
                <a href="https://www.linkedin.com/in/tomohiro/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li id="githubItem">
                <a href="https://github.com/TOMO-YOSHI">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li id="mailItem">
                <a href="mailto: tomohiroyoshida10@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>